/*
Initial setup
*/
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

#app {
  margin: 30px auto;
  width: 1100px;
}

/*
Header Navigation 
*/

#weather-icon {
  position: relative;
  top: 20px;
  left: 15px;
  transform: scale(1.5);
  margin-top: -35px;
}

#header-container {
  margin-bottom: 15px;
}

.column_nav_section,
.row_nav_section {
  display: flex;
  flex-direction: row;
}

.column_nav_section {
  justify-content: flex-end;
}

.row_nav_section {
  justify-content: space-between;
}

.nav-el {
  margin: 10px;
}

.nav-el img {
  margin-left: 5px;
}

.nav-el a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/*
Homepage and sliders setup

SLIDE #0

*/

#homepage_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#slider-container {
  background-color: rgb(231, 240, 246);
  border-radius: 30px;
  padding: 20px 20px 0 20px;
  text-align: left;
  width: 100%;
  position: relative;
}

.slider-arrow {
  opacity: 0.3;
  transition: opacity 0.3s;
  width: 60px;
  height: 60px;
}

.slider-arrow:hover {
  opacity: 1;
  cursor: pointer;
}

#slider_menu {
  margin-bottom: 30px;
  margin-left: 20px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#slider_menu a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
  font-size: 20px;
}

#slider_menu a:hover {
  border-color: black;
}

.slider-image {
  float: right;
  width: 50%;
  margin-bottom: 20px;
}

#slide0 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pre-title,
.sub-title {
  margin: 0 5px 55px 10px;
  text-align: left;
}

.pre-title {
  font-size: 23px;
  font-weight: lighter;
}

.title {
  margin: 0 5px 55px 10px;
  font-size: 40px;
  font-weight: bolder;
  text-align: left;
}

.sub-title {
  font-size: 35px;
  font-weight: 100;
}

.action-button-container {
  display: flex;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

@property --myColor1 {
  syntax: '<color>';
  initial-value: rgb(72, 157, 206);
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #E5F0F6;
  inherits: false;
}

.action-button {
  /*background-color: ;*/
  border: 3px solid black;
  border-radius: 30px;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 25px;
  margin-left: 10px;
  background: linear-gradient(var(--myColor1), var(--myColor2));
  transition: --myColor1 0.3s, --myColor2 0.3s;
}

.action-button:hover {
  --myColor1: #af3f15;
  --myColor2: #ff8bb9;
  cursor: pointer;
}

.action-button-container img {
  height: 50px;
  margin-left: 20px;
}

.action-button-arrow {
  transition: transform 0.3s;
}

.action-button-arrow:hover {
  transform: translate(5px);
  cursor: pointer;
}

/*
SLIDE #1
*/

#slide1 h1 {
  background: -webkit-linear-gradient(0deg, rgb(72, 157, 206), transparent);
  border-radius: 25px;
  padding: 20px 10px 20px 10px;
  width: 50%;
}

#slide1 h1 {
  position: absolute;
  bottom: 20%;
  width: auto;
}